{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao RachAí</title>
    <link rel="stylesheet" href="{% static 'rachais/css/style.css' %}">
</head>
<body>
    <div class="container" style="text-align: center;">

        {# <img src="{% static 'images/logo.png' %}" alt="Logo RachAí"> #}
        <h1>RachAí</h1>
        <p class="lead">Bem-vindo! Divida suas contas de forma fácil e transparente.</p>

        <div class="home-actions">
            <a class="button" href="#">Entrar</a>  {# Vamos configurar essa URL depois #}
            <a class="button" href="#">Cadastrar</a> {# Vamos configurar essa URL depois #}
        </div>

    </div>
</body>
</html>