{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>RachAi</title>
  <link rel="icon" href="{% static 'css/icon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
  <header class="topbar">
    <div class="container">
      <strong>RachAi</strong>
    </div>
  </header>

  <main class="container page">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
